// elass main

.logo-image{
  height: 42px;
}
.search{
  width: 80%;
  border: 1px solid #999;
  border-radius: 15px;
  height: 42px;
}
.search-button{
  width: 42px;
  height: 42px;
  border: 1px solid skyblue;
  border-radius: 15px;
  background-color: skyblue;
  color: #fff;
}
.log-in, .sign-up{
  display: inline-block;
  line-height: 42px;
  height: 42px;
  padding-right: 0;
  color: #333;
}
.log-in{
  padding-left: 20px
}
.video{
  height: 609px;
  background-color: skyblue;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
}
.main-video{
  height: 100%;
  width: 100%;
}
.footer{
  height: 231px;
  background-color: #4facfe;
  font-size: 2.6rem;
}
.footer1{
  margin-top: 63px;
  color: #fff;
}
.sign-up-button{
  width: 90%;
  height: 63px;
  margin-top: 21px;
  background-color: #4facfe;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-size: 1.6rem;
}
.copyright{
  background-color: #181818
}
.copyright1{
  color: #f7f7f7;
  margin-top: 210px;
  margin-left: 20px;
}
.mt-1{
  margin-top: $leading;
}
.mt-2{
  margin-top : $leading * 2;
}
h2{
  text-align: center;
  font-size: $subtitle-font-size;
}
// 인기 강의 컨테이너
.favorite-lecture-container{
  margin-top: 40px;
  position: relative;
}
// 인기 강의 아이템
.favorite-lecture-items{
  @extend %clearfix;
  .favorite-lecture-item{
    overflow: hidden;
    border-radius: 10px 10px;
    border: 1px solid #e6e6e6;
    height: 370px;
    position: relative;
  }
  .favorite-lecture-tag{
    display: inline-block;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    text-align: center;
    position: absolute;
    color: #fff;
    top: 30px;
    left: 30px;
    line-height: 25px;
    width: 70px;
  }
  .favorite-lecture-image{
    background: tomato;
    a{
      display: block;
      height: 230px;
      width: 100%;
      overflow: hidden;
      img{
        height: auto;
        width: 100%;
      }
    }
  }
}
// 인기 강의 텍스트 컨텐츠
.favorite-lecture-content{
  margin: 30px auto 0;
  width: 100%;
  padding: 0 32px;
  height: 72px;
  .favorite-lecture-title{
    font-size: 1.6rem;
  }
  .favorite-lecture-user{
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.4);
  }
}
// 인기 강의 좋아요 아이콘
.favorite-like{
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  top: 190px;
  right: 32px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}
// 인기 강의 별점
.favorite-star{
  position: relative;
  display: flex;
  width: 70px;
  margin: 0 auto;
  justify-content: space-around;
  font-size: 2.2rem;
  .ion-ios-star{
    color: #007aff;
  }
  .ion-ios-star-outline{
    color: #bbc0d4;
  }
}
// 인기 강의 이전, 다음 버튼
.prev-next-btns{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 1230px;
  position: absolute;
  transform: translateX(-50%);
  margin-left: 50%;
  top: 250px;
  .prev-list-btn, .next-list-btn{
    font-size: 1.8rem;
    color: #bbc0d4;
  }
}
// 인기 강의 더 보기 버튼
.favorite-list-more-btn{
  display: block;
  position: relative;
  font-size: 0;
  border: 1px solid #bbc0d4;
  // padding: 10px 20px;
  line-height: 40px;
  width: 185px;
  margin: 30px auto 0 auto;
  text-align: center;
  overflow: hidden;
  &::before{
    content: '';
    background-color: #007aff;
    position: absolute;
    transform: translateX(-50%);
    margin-left: 50%;
    height: 40px;
    width: 0;
    left: 0;
    transition: width 0.4s;
  }
  &::after{
    content: '인기 강의 더 보기';
    position: absolute;
    font-size: 1.4rem;
    width: 185px;
    display: block;
    left: 0;
    top: 0;
  }
  &:hover{
    border: 1px solid #bbc0d4;
    color: #fff;
    &::before{
      width: 185px;
    }
    &::after{
      color: #fff;
    }
  }
}

// 카테고리
.container.category-container{
  margin-top: 40px;

  .category-btns{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    .category-btn-all{
      border: 1px solid #bbc0d4;
      display: inline-block;
      width: 160px;
      text-align: center;
      font-size: 2.1rem;
      padding: 20px 0;
      line-height: 50px;
      &:hover, &:focus{
        background-color: #007aff;
        color: #fff;
      }
    }
  }
}
  
.main-banner-bottom{
  position: relative;
  width: 100%;
  height: 231px;
  background: url('./assets/main/banner.jpg') 0 0/cover;
}
.main-banner-paragh{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  p{
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
  }
  span{
    font-size: 3.3rem;
  }
}
.main-review{
  position: relative;
  width: 100%;
  height: 274px;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: $leading;
  padding-bottom: $leading * 6;

  h4{
    color: #181818;
    font-size: 1.8rem;
  }
  p{
    color: #363636;
    margin-top: $leading;
  }
}
.main-review-member{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f7f7f7;
  padding-left: 100px;
  padding-top: $leading /2;
  padding-bottom: $leading /2;
  img{
    position: absolute;
    left: 8px;
    bottom: 5px;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: 2px solid #dcdcdc;
  }
  .star{
    font-size: 2.1rem;
    }
}