
.select-box{
  width: 100%;
  height: 42px;
  padding-left: 10px;
  font-size: 1.4rem;
  color: #bcbcbc;
  border: 1px solid #ebebeb;
  background-color: #fff;
}
  .list-search{
    border: 1px solid #e3e3e3;
    width: 100%;
    height: 42px;
    padding-left: 10px
  }
  .list-search-btn{
    border: 1px solid #0081ff;
    background: #0081ff;
    color: #fff;
    width: 80%;
    height: 42px;
  }
  .text{
    text-align: center;
  }
  .category-list-more-btn{
  display: block;
  position: relative;
  font-size: 0;
  border: 1px solid #bbc0d4;
  line-height: 40px;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  overflow: hidden;
  &::before{
    content: '';
    background-color: #007aff;
    position: absolute;
    transform: translateX(-50%);
    margin-left: 50%;
    height: 100%;
    width: 0;
    left: 0;
    transition: width 0.4s;
  }
  &::after{
    content: '강의 더 보기';
    position: absolute;
    font-size: 1.4rem;
    width: 100%;
    display: block;
    left: 0;
    top: 0;
  }
  &:hover{
    border: 1px solid #bbc0d4;
    color: #fff;
    &::before{
      width: 100%;
    }
    &::after{
      color: #fff;
    }
  }
}
// footer
.category-copyright{
  margin-top: 231px
}
//  버튼 스타일
.btn-group{
  text-align: center;
  &.left{
    text-align: left;
  }
  & > a{
    margin-top : 5px;
    margin-left: 5px;
  }
}
%btn-style{
  display: inline-block;
  padding: $leading;
  font-size: 1.8rem;
}
.btn-submit{
  @extend %btn-style;
  background: #007aff;
  border: 1px solid #007aff;
  color: #fff;
}
.btn-white{
  @extend %btn-style;
  border: 1px solid #dcdcdc;
}
.btn-gray{
  @extend %btn-style;
  border: 1px solid #dcdcdc;
  background: #dcdcdc;
}
.is-small{
  padding: $leading / 2;
  font-size: 1.4rem;
}
.is-full{
  width: 100%;
  text-align: center;
}
// border bottom
.bb{
  border-bottom: 1px solid #e6e6e6;
}
.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.modal.is-active{
  display: flex;
}
.modal-background{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(10, 10, 10, 0.86);
}
.modal-content{
    position: relative;
    overflow: auto;
    background: #fff;
    width: 80vw;
    border-radius: 5px;
    padding: $leading;
}
.modal-close{
  position: absolute;
  right: 10px;
  top: 10px;
}
