// --------------------------------------------
// 설계
// --------------------------------------------
// 기본 글꼴 설정
$base-font-size: 10px !default;
$leading-scale: 1.5;
$leading: 1.4rem * $leading-scale;
$subtitle-font-size: 1.6rem;

html{
    box-sizing: border-box;
    font-size: $base-font-size;
	font-family: 'Nanum Square';
    /* scroll에 따라 화면 정렬이 바뀌는것을 방지 */
    overflow-y: scroll;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    line-height: $leading-scale;
    font-size: 1.4rem;
}
a{
    text-decoration: none;
    color: #181818;
}
h2{
    font-size: 1.8rem;
}